.home-link {
  display: inline-block;
  margin-bottom: 2rem;
}
.home-link img {
  width: 50px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.home-link img:hover {
  transform: scale(1.05);
}
.home-link {
  justify-self: center;
}
body{
  margin: 0;
  height: 100dvh;
  display: grid;
  place-items: center;
  background-color: #000000;
  font-family: 'Inter', sans-serif;
  color: white;
  text-align: center;
}
h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
nav {
  display: flex;
  gap: 20px;
  justify-self: center;
}
nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #ff6a00, #ee0979);
  box-shadow: 0 4px 15px rgba(218,31,5,0.3);
}
nav a:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(254, 101, 13, 0.6);
  background: linear-gradient(135deg, #ff6a00, #ee0979);
}